// Place all the styles related to the Mo_Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$brand-primary: #fb4e3e;

@import 'bootstrap';

body{
	padding-top: 70px;
}

#top-navbar{
	margin-bottom: 0px;
	//height: 60px;
	background: rgba(255, 255, 255, 0.85);
	
	img#mo-nav-logo{
		height: 51px;
		margin-right: 10px;
	}
	.navbar-header button span.icon-bar{
		background-color: $brand-primary;
	}

	#top-navbar-collapse{
		li.active{
			border-bottom-style: solid;
			border-bottom-width: 1px; 
			border-color: $brand-primary;
		}
		li#index a{
			
		}
		#cmw-dropdown a{
			color: $text-color;
		}
	}
}

.jumbotron#daily-item{
	height: 500px;
	padding: 0px;
	overflow: hidden;
	img#daily-item-image{
		min-height: 100%;
		width: 100%;
	}
	.page-header{
		border-radius: 5px;
		border-bottom: 0px;
		position: absolute;
		left: 30px;
		top: 100px;
		padding: 10px;
		background-color: rgba(255, 255, 255, 0.75);
		h1{
			color: $brand-primary;
		}
		small{

		}
	}
}

.panel#random{
	a.thumbnail{
		margin-bottom: 0px;
	}
}
.panel#item-info-panel{
	.share{
		margin-top: 15px;
	}
}
.purchase{
	border-top-style: solid;
	border-top-width: 3px;
	padding: 10px;
	margin-bottom: 10px;
}
#purchase-info{
	background-color: rgba($brand-primary, 0.05);
	border-color: $brand-primary;
	h4{
		color: $brand-primary;
	}
}
#purchase-offer{
	background-color: rgba($brand-info, 0.05);
	border-color: $brand-info;
	h4{
		color: $brand-info;
	}
}

footer{
	margin-top: 30px;
	code{
		color: $brand-primary;
		background-color: #fff;
	}
}

//TODO: a better way to do all these works (through css or js)
@media (min-width: 1300px) {
	.jumbotron#daily-item{
		height: 600px;
	}
}
@media (max-width: 1000px) {
	.jumbotron#daily-item{
		height: 400px;
	}
}
@media (max-width: 600px) {
	.jumbotron#daily-item{
		height: 250px;
	}
}