// Place all the styles related to the Mo_Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$brand-primary: #fb4e3e;

@import 'bootstrap';

body{
	padding-top: 70px;
}

#top-navbar{
	background: rgba(255, 255, 255, 0.85);
	
	.navbar-header button span.icon-bar{
		background-color: $brand-primary;
	}

	#top-navbar-collapse{
		li.active{
			border-bottom-style: solid;
			border-bottom-width: 1px; 
			border-color: $brand-primary;
		}
		li#index a{
			
		}
		#cmw-dropdown a{
			color: $text-color;
		}
	}
}

.container{
	.row{
		.col-md-9{
			.jumbotron{
				.title{
					float: top;
				}
			}
		}
	}
}

footer{
	margin-top: 30px;
	code{
		color: $brand-primary;
		background-color: #fff;
	}
}