<h2>你好， <%= @resource.name %>!</h2>

<p>我们收到了重置您的CMW Account密码的请求。您可以点击<%= link_to '此处', edit_password_url(@resource, :reset_password_token => @token %>以重置密码。</p>

<p>如果您没有提出重置密码请求，请忽略本邮件。</p>
<p>除非您点击链接并更换密码，您的密码不会改变。</p>

<p>摸Mo - 创意媒体工作室</p>
